@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;

}
body {
  background-color: rgb(6, 121, 149);
}
h1,h4,p,a {
  color: #fff;
  text-decoration: none;
}
ul {
  list-style-type: none;
}
.btn {
  padding: 12px 32px;
  font-size: 1rem;
  text-transform: uppercase;
  background-color: rgb(245, 245, 6);
  color: #000;
  border: 1px solid #fff;
  font-weight: 600;
  cursor: pointer;
}

 .light {
  
  background-color: red;
  color: #fff;
}
.btn:hover {
  background-color: rgb(244, 15, 186);
  color: #fff;
  transition: .3s;
}